.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}


.MenuItem {
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    margin: 5px;
}


.MenuItem .FoodIcon {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 5px;
}


.box {
    border: solid 2px black;
    padding: 15px 10px 10px;
    position: relative;
    margin-top: 20px
}


.box .box-title {
    margin: 0;
    padding: 5px;
    background: white;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1;

    position: absolute;
    top: -17px;
    text-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
}

.total {
    text-align: right;
}

.OrderTotal {
    font-weight: bold;
    border-top: solid 1px black;
    margin-top: 10px;
    padding-top: 10px;
}